<ion-header>
  <ion-toolbar>
    <ion-title>cadastre seu Filme</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item>
    <ion-label position="stacked">Nome</ion-label>
    <ion-input type="text" placeholder="Ex: Os Vingadores" [(ngModel)]="filme.nome"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Genero</ion-label>
    <ion-select placeholder="Selecione" okText="OK" cancelText="Cancelar" [(ngModel)]="filme.genero">
      <ion-select-option value="brown" *ngFor="let genero of generos" [value]="genero">{{genero.descricao}}
      </ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>Duração</ion-label>
    <ion-range min="0" max="720" pin="true" [(ngModel)]="filme.duracao">
      <ion-icon size="small" slot="start" name="time"></ion-icon>
      <ion-icon slot="end" name="time"></ion-icon>
    </ion-range>
    <ion-badge *ngIf="filme.duracao >= 0" slot="end">{{filme.duracao + ' mim'}}</ion-badge>
  </ion-item>

  <ion-button color="danger" horizontal="start"(click)="Cancelar()">Cancelar</ion-button>
  <ion-button color="success" horizontal="end" (click)="Gravar()">Gravar</ion-button>

</ion-content>